.sponsor-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
  }
  
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .swiper-slide {
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
  }