.sidebar::-webkit-scrollbar {
  /* visibility: hidden; */
  width: 0;
}
:root {
  --sidebar-width: 0px; /* Set a default sidebar width */
}
/* App.css */
html {
  scroll-behavior: smooth;
}


footer {
  margin-bottom: 0;
  padding-bottom: 10px;
}
a {
  color: oklch(0.551 0.027 264.364) !important;
}
a:hover {
  color: #c98bb9 !important;
  scale: 1.15;
  transition: all ease-out 200;
}
